<table class="table">
    <thead class="table table-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">Tipo Despesa</th>
        </tr>
    </thead>
    <tbody>

        <tr class="linha">
            <td>
                <a style="text-decoration: none;color: black;"
                    href="/deletartipodespesa?id_tpdespesa=<%=dados[i]._id  %> ">
                    <i class="bi bi-x-square"></i>
                </a>
            </td>

            <td scope="row">
                1
            </td>
            <td>
                Fixas
            </td>
        </tr>

    </tbody>
</table>
