<!DOCTYPE HTML>
<html lang="pt-br">

<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Despesa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/estilo.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script src="js/jquery-3.5.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="menu" onload="carregamenu()"></div>
    <div class="container">


        <form method="post" action="/tipodespesa">
            <div class="col-md ">
 
                        <div class="row">
                            <div class=" col-md-2">
                                <label class="col-md-6 col-form-label">ID Despesa</label>
                                <input class="form-control" type="text" name="id" id="edt_Id" 
                                    placeholder="Digite o ID" />
                            </div>

                            <div class=" col-md-6">
                                <label class="col-md-2 col-form-label">Despesa</label>
                                <input class="form-control" type="text" name="tipodespesa" id="edt_tipodespesa"
                                 placeholder="Digite o nome da despesa" />
                            </div>

                        </div>
                        <div class="col-md-4 mt-2">
                            <button type="submit" class="btn btn-primary" id="">Gravar</button>
                        </div>

            </div>
        </form>


        <div class="row g-1 mt-2">
            <div id="listatpdespesa"></div>
        </div>

        <script src="js/script.js"></script>
</body>

</html>
